.hljs, .hljs-subst {
    background-color: var(--bg-surface) !important;
    color: var(--text-primary) !important;
}

.hljs-punctuation {
    color: var(--primary-color) !important;
}

.hljs-attr {
    color: var(--text-secondary) !important;
}

.hljs-string {
    color: var(--link-color) !important;
}

.hljs-literal {
    color: var(--link-color) !important;
}

.halfcolumn {
    flex: 50%;
    width: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.column {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.column-40 {
    flex: 40%;
    width: 40%;
}

.column-60 {
    flex: 60%;
    width: 60%;
}

.logview {
    height: 70vh;
}

.logview .log-container {
    height: calc(70vh - 2rem);
    overflow-y: scroll;
}

.divider {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
}

.input {
    margin-bottom: 0.5rem;
}

.output {
    margin-bottom: 0.5rem;
}

.view-header {
    display: flex;
    flex-wrap: wrap;
}

.functionstatus span {
    margin-inline-end: 0;
}

@media (min-width: 768px) {
    .view-header > div {
        flex: 1;
    }

    .ref-summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .ref-summary > div {
        text-align: right;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
}
@media (max-width: 767px) {
    .ref-links, .ref-summary {
        width: 100%;
    }
}

.ref-links {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

.ref-summary {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--border-color);
}

pre.text_value, pre.json_value {
    color: var(--text-secondary);
    overflow: auto;
    max-height: calc(10 * 1.6rem); /* 16px per line */
}

.empty-state {
    color: var(--text-secondary);
    font-style: italic;
}